.Title{

    box-sizing: border-box;
    position: absolute;
    width:25%;
    height:300px;
    right:100px;
    display: flex;
    justify-content:center;
    align-items: baseline;
    padding: 1em;
    margin-bottom:2em;
    background-color: rgb(181, 177, 177);
    color: #111111;

}